/* Solo necesitas importar los estilos unificados */
@import '../../styles.css';

/* Opcional: Puedes añadir estilos específicos del login aquí */
.checkbox.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

.checkbox.remember-me label {
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    user-select: none;
}

.checkbox.remember-me input[type="checkbox"] {
    margin-right: 0.5em;
}

.form-group.forgot {
    margin-top: 1.5rem;
    text-align: center;
}

.forgot-password .link:hover,
.forgot-password .link:focus {
    text-decoration: underline;
}