<div class="container">
    <header class="header">
        <h1 class="logo">Gramola <span style="color: rgb(131, 131, 255); font-size: 1.3em;">e</span><span
                style="font-size: 1.3em;">s</span><span style="color: rgb(131, 131, 255); font-size: 1.3em;">i</span>potify</h1>
    </header>
    <div class="card">
        <h2>Regístrate para empezar a escuchar</h2>
        <form id="registerForm" class="form">
            <div class="form-group">
                <label for="barName">Nombre del bar</label>
                <input type="text" id="barName" [(ngModel)]="barName" name="barName" required>
            </div>
            <div class="form-group">
                <label for="clientId">Client ID de Spotify</label>
                <input type="text" id="clientId" [(ngModel)]="clientId" name="clientId" required>
            </div>
            <div class="form-group">
                <label for="clientSecret">Client Secret de Spotify</label>
                <input type="password" id="clientSecret" [(ngModel)]="clientSecret" name="clientSecret" required>
            </div>
            <div class="form-group">
                <label for="email">Dirección de correo electrónico</label>
                <input type="email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="pwd1">Contraseña</label>
                <input type="password" id="pwd1" [(ngModel)]="pwd1" name="pwd1" required>
            </div>
            <div class="form-group">
                <label for="pwd2">Repetir contraseña</label>
                <input type="password" id="pwd2" [(ngModel)]="pwd2" name="pwd2" required>
            </div>

            <button (click)="registrar()" type="button" class="btn btn-primary">Registrar</button>
            @if (registroExitoso === true) {
            <div class="success-message">
                Se ha registrado exitosamente. Por favor, revisa tu correo para activar tu cuentaa antes de iniciar sesión.
            </div>
            }
            @if (registroExitoso === false) {
            <div class="error-message">
                Error en el registro. Por favor, inténtalo de nuevo.
            </div>
            }
            <div class="login-link">
                <p>¿Ya tienes una cuenta? <a href="/login" class="link">Iniciar sesión</a></p>
                </div>
                </form>
                </div>
                </div>